@import "night.css";
@include-when-export "persian/vazir-online.css";
@include-when-export url(https://fonts.loli.net/css?family=Open+Sans:400italic,700italic,700,400&subset=latin,latin-ext);
@import "persian/vazir.css";
@import "persian/opensans.css";

html,
body,
button,
input,
select,
textarea {
    font-family: 'Vazir', "Open Sans","Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#write {
	/* RTL */
	direction: rtl;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Vazir", "Lucida Grande", "Corbel", sans-serif;
	font-weight: bold;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    background: none;
}
blockquote {
	border-left: none;
    border-right: 4px solid #474d54;
	margin: 0 1.875rem 1.875rem 0;
    padding: 0 15px;
}
blockquote blockquote {
    padding: 0 0 0 15px;
}

.CodeMirror-lines {
    padding-left: 4px;
	direction: ltr;
}

code {
    padding: 0 4px 2px 4px;
	direction: ltr;
}

.md-fences {
    padding: 0.2em 1em;
    padding-top: 8px;
    padding-bottom: 6px;
}

header, .context-menu, .megamenu-content, footer{
    font-family: "Vazir", "Segoe UI", "Arial", sans-serif;
}


.md-def-name{
	direction:ltr;
}
.md-def-name:after {
    content: ']';
}
.md-def-split.md-def-f:before{
	display:inline;
	font-weight: 400;
	content:': ';
}