@import "github.css";
@include-when-export "persian/vazir-online.css";
@import "persian/vazir.css";

:root {
    --control-text-color: rgb(10,10,10);
}

body {
    font-family: 'Vazir', "Open Sans","Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: rgb(10, 10, 10);
}

#write {
	/* RTL */
	direction: rtl;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    background: none;
}
blockquote {
	border-left: none;
    border-right: 4px solid #dfe2e5;
    padding: 0 15px;
}
blockquote blockquote {
    padding: 0 0 0 15px;
}

.CodeMirror-lines {
    padding-left: 4px;
	direction: ltr;
}

code {
    padding: 0 4px 2px 4px;
	direction: ltr;
}

.md-fences {
    padding: 0.2em 1em;
    padding-top: 8px;
    padding-bottom: 6px;
}

header, .context-menu, .megamenu-content, footer{
    font-family: "Vazir", "Segoe UI", "Arial", sans-serif;
}


.md-def-name{
	direction:ltr;
}
.md-def-name:after {
    content: ']';
}
.md-def-split.md-def-f:before{
	display:inline;
	font-weight: 400;
	content:': ';
}

ul, ol {
    padding: 0 1.875rem 0 0;
}
