
@font-face {
    font-family: 'Vazir';
    src: local('Vazir'), url('Vazir-WOL.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Vazir';
    src: local('Vazir'), url('Vazir-Thin-WOL.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Vazir';
    src: local('Vazir'), url('Vazir-Bold-WOL.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}